<div class="container app">

<div class="card-header">
  <h1>My To Do List</h1>

</div>
<div class="card-body">
  <form>
      <input type="text" placeholder="Update list..." #inputs>

      <button id="btn" (click)="addList(inputs.value)" class="btn btn-success">Add List</button>

    
  </form>
<div  *ngFor="let todo of mytodos; let i=index" class="contents {{todo.completed ? 'done':''}}">
  <div class="row">
    <div class="col-md-8">
      <div class="content" >{{i}}:{{ todo.content}}</div>

    </div>
    <div class="col-md-4">
      <button  class="btn btn-primary" (click)="strikeContent(i)">Strike</button>

      <button  class="btn btn-danger" (click)="deleteContent(i)">Delete</button>

    </div>
  </div>
</div>
</div>

</div>